body{
  font-family: ;
  
}
h1, h2, h3, h4, h5{
  font-family:;
  color: 	;
}

.cover {
  height: 400px;
  background-image: url(https://cdn.glitch.global/8a18f05e-bfe7-46b1-8c53-5169c88132f8/banner-rama-floreciente-color-lila-sobre-fondo-mismo-color-composicion-floral-minimalista-estilo-moderno-espacio-vacio-texto_106630-1135.jpg?v=1682713040725);
  color: white;
  background-size: 1000px;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
}
.cover-small {
  height: 300px;
  background-blend-mode: normal;
  background-size: cover;
  background-position: cover;
}
.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5) 0 2px 4px -1px
    rgba(0, 0, 0, 0.06);
}
.card-title {
  min-height: 3rem;
}
.card-text {
  min-height: 10rem;
}